.background-toggle-container {
    width: 200px;
    height: 65px;
    position: absolute;
    background-color: #DB5C83;
    top: 106px;
    left: 87px;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFD85F;
}

.change-background-toggle {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    font-family: "Lucida Console", monospace;
}

.reset-toggle-container {
    width: 165px;
    height: 35px;
    position: absolute;
    background-color: #DB5C83;
    top: 150px;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFD85F;
}

.reset-toggle {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    font-family: "Lucida Console", monospace;
}

.solve-toggle-container {
    width: 165px;
    height: 35px;
    position: absolute;
    background-color: #DB5C83;
    top: 462px;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFD85F;
}

.solve-toggle {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    font-family: "Lucida Console", monospace;
}

.solution-arrow-toggle-container {
    background-color: #DB5C83;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 40px;
    padding: 2px 15px 5px 15px;
    color: #FFD85F;
    display: flex;
    align-items: center;
}

.left-arrow {
    transform: rotate(180deg);
    position: relative;
    top: 3px;
}

.solution-arrows-toggle-container {
    display: flex;
    width: 165px;
    height: 35px;
    position: absolute;
    top: 462px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}